{% load staticfiles %}
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">
            Slack Sample Application
          </a>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="jumbotron">
        <h1>How are you?</h1>
      </div>
      <a href="{% url 'clear' %}">Reset</a>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2>Fine people</h2>
        </div>
        <div class="panel-body">
          {% for reply in positive_replies %}
          <p> {{reply.user_name}} </p>
          {% endfor %}
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2>So so people</h2>
        </div>
        <div class="panel-body">
          {% for reply in neutral_replies %}
          <p> {{reply.user_name}} </p>
          {% endfor %}
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2>Terrible people</h2>
        </div>
        <div class="panel-body">
          {% for reply in negative_replies %}
          <p> {{reply.user_name}} </p>
          {% endfor %}
        </div>
      </div>
    </div>
  </body>
</html>
